.landing-container {
  background: url('../../assets/home_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.landing-navbar {
  color: #f8f9fa;
  background: transparent;
}

.brand-title {
  color: inherit;
  font-size: 30px;
  font-family: Dotum;
}

.button-login {
  color: inherit;
}

.button-login:hover, .button-login:focus {
  text-decoration: none;
}

.comet-entrance-panel {
  background: #000;
  opacity: 0.8 !important;
  height: 0;
  overflow: hidden;
}

.comet-entrance-panel-show {
  height: auto;
}

.login-form {
  padding: 10px;
}

.login-form .login-title {
  color: #797f84;
  text-align: center;
}

.input-group-text {
  background-color: #fff;
}

/*
Custom Modal Style Start
*/

.custom-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-container {
  background-color: #fefefe;
  /*margin: 15% auto; !* 15% from the top and centered *!*/
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.custom-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.custom-modal-title {
  margin: 0;
}

.custom-modal-body {
  padding: 10px;
}

.custom-modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-between;
  padding: 0.8rem;
  border-top: 1px solid #e9ecef;
}
/* Modal Style End */

.settings-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.next-button-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}

.next-button-card p {
  font-size: 0.7rem;
  margin: 0;
  width: 35%;
}
