<div>
  <div class="landing-container">
    <nav class="navbar navbar-expand-lg bg-transparent landing-navbar justify-content-between">
      <a class="navbar-brand text-capitalize brand-title" href="#">COMET</a>
      <div>
        <button class="btn btn-link button-login" (click)="isLoginModalOpen = true">Login</button>
        <button class="btn btn-outline-light" (click)="isSignUpModalOpen = true">Sign Up</button>
      </div>
    </nav>

    <!-- Login Modal
      TODO: Create a Modal Component
    -->
    <div class="custom-modal" *ngIf="isLoginModalOpen">
      <div class="custom-modal-container">
        <div class="custom-modal-content">
          <div class="custom-modal-header">
            <h5 class="custom-modal-title">Login</h5>
            <button type="button" class="close" aria-label="Close" (click)="isLoginModalOpen = false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="custom-modal-body">
            <div class="row login-form">
              <div class="col-12">
                <h4 class="login-title">Login to your account</h4>
                <form>
                  <div class="form-group">
                    <label for="userNameInput">Username</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-person"></span></span>
                      </div>
                      <input type="text" class="form-control" id="userNameInput" placeholder="Registered Username">
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-lock-locked"></span></span>
                      </div>
                      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="custom-modal-footer">
            <button type="button" class="btn btn-secondary" (click)="isLoginModalOpen = false">Cancel</button>
            <button type="button" class="btn btn-primary" routerLink="/home/security">Login</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Login Modal
      TODO: Create a Modal Component
    -->
    <div class="custom-modal" *ngIf="isSignUpModalOpen">
      <div class="custom-modal-container">
        <div class="custom-modal-content">
          <div class="custom-modal-header">
            <h5 class="custom-modal-title">Sign Up</h5>
            <button type="button" class="close" aria-label="Close" (click)="isSignUpModalOpen = false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="custom-modal-body">
            <div class="row login-form">
              <div class="col-12">
                <h4 class="login-title">Create your Comet account</h4>
                <form>

                  <div class="form-group">
                    <label for="registerUserName">Username</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-person"></span></span>
                      </div>
                      <input type="text" class="form-control" id="registerUserName" placeholder="Enter a Unique Username">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="registerPasswordInput">Password</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-lock-locked"></span></span>
                      </div>
                      <input type="password" class="form-control" id="registerPasswordInput" placeholder="Enter a Secure Password">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="registerConfirmPasswordInput">Confirm Password</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-lock-locked"></span></span>
                      </div>
                      <input type="password" class="form-control" id="registerConfirmPasswordInput" placeholder="Confirm Your Password">
                    </div>
                  </div>

                  <div class="row settings-wrapper">
                    <div class="col-4">
                      <div class="form-check pretty p-image p-plain">
                        <input type="checkbox" class="form-check-input" id="registerPersonalInfo" checked readonly>
                        <div class="state">
                          <img class="image" src="../../assets/checkbox_1.png">
                          <label for="registerPersonalInfo">Personal Info</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-check pretty p-image p-plain">
                        <input type="checkbox" class="form-check-input" id="registerContactInfo" checked readonly>
                        <div class="state">
                          <img class="image" src="../../assets/checkbox_1.png">
                          <label for="registerContactInfo">Contact Info</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-check pretty p-image p-plain">
                        <input type="checkbox" class="form-check-input" id="registerSecurity" checked readonly>
                        <div class="state">
                          <img class="image" src="../../assets/checkbox_1.png">
                          <label for="registerSecurity">Security</label>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

                <div class="card">
                  <div class="card-body next-button-card">
                    <button class="btn btn-outline-info btn-sm">Sign Up and Continue</button>
                    <p class="text-muted">Sign Up and proceed to enter the application.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="custom-modal-footer">
            <button type="button" class="btn btn-secondary" (click)="isSignUpModalOpen = false">Cancel</button>
            <button type="button" class="btn btn-primary" routerLink="/home/security">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
