<div class="col-8">
  <form>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address">
    </div>

    <div class="form-group">
      <label for="primaryEmail">Email</label>
      <input type="email" class="form-control" id="primaryEmail">
    </div>

    <div class="form-group">
      <label for="secondaryEmail">Secondary Email</label>
      <input type="email" class="form-control" id="secondaryEmail">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="number" class="form-control" id="phoneNumber">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
