.new-password {
  margin-top: 20px;
}

.submit-security-button {
  background-color: #557A95;
  border-color: #557A95;
  color: #fff;
}

.submit-security-button:hover {
  background-color: #38586f;
  border-color: #38586f;
}
