<div class="col-8">
  <form>
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="password" class="form-control" id="currentPassword" aria-describedby="passwordHelp">
      <small id="passwordHelp" class="form-text text-muted">Please provide your current password.</small>
    </div>

    <div class="form-check pretty p-image p-plain">
      <input type="checkbox" class="form-check-input" id="enableNewPassword">
      <div class="state">
        <img class="image" src="../../assets/checkbox_1.png">
        <label for="enableNewPassword">Enable New Password</label>
      </div>
    </div>

    <div class="form-group new-password">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword">
    </div>

    <div class="form-group">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input type="password" class="form-control" id="confirmNewPassword">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
