<div class="col-8">
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="middleName">Middle Name</label>
      <input type="text" class="form-control" id="middleName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="spouseFirstName">Spouse First Name</label>
      <input type="text" class="form-control" id="spouseFirstName">
    </div>

    <div class="form-group">
      <label for="spouseMiddleName">Spouse Middle Name</label>
      <input type="text" class="form-control" id="spouseMiddleName">
    </div>

    <div class="form-group">
      <label for="spouseLastName">Spouse Last Name</label>
      <input type="text" class="form-control" id="spouseLastName">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
