/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css";
@import "../node_modules/pretty-checkbox/dist/pretty-checkbox.css";

body {
  margin: 0;
  overflow: hidden;
}

.padding-none {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0 !important;
}
