<div class="row home-container">
  <div class="col-2">
    <app-side-menu></app-side-menu>
  </div>
  <div class="col-10 padding-left-none">
    <app-home-header></app-home-header>
    <app-home-body></app-home-body>
  </div>
</div>
