<section class="row wrapper">
  <div class="col-3 icon-container">
    <header>
      <button class="btn btn-link"><i class="oi oi-menu"></i></button>
    </header>
  </div>
  <div class="col-9 side-menu-container padding-none">
    <header class="side-menu-header"></header>
    <div class="side-menu-body">
      <ul class="nav flex-column">
        <li class="nav-item">
          <button class="btn btn-link" routerLink="/home/security">Security</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" routerLink="/home/personal">Personal</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" routerLink="/home/contact">Contact</button>
        </li>
        <!--<li class="nav-item">-->
          <!--<button class="btn btn-link disabled">Premium</button>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</section>

