.wrapper {
  height: 100%;
}

.side-menu-container header, .icon-container header {
  height: 55px;
}

.icon-container {
  background: #222;
}

.side-menu-container {
  background: #2b2b2b;
}

.side-menu-body .nav-item button{
  font-size: 0.9rem;
  text-align: left;
  width: 100%;
}

.side-menu-body .nav-item:hover {
  background: #363636;
}

.btn.btn-link {
  color: #ccc;
}

.btn.btn-link:hover, .btn.btn-link:focus {
  text-decoration: none;
}


